[Unit]
Description=Performance statistics and reporting
After=network.target

[Service]
WorkingDirectory=/opt/web-performance-monitor
User=root
Group=root
Restart=always
ExecStart=/bin/node /opt/web-performance-monitor

[Install]
WantedBy=multi-user.target